.app {
  height: 100vh;
  padding: 30px;
}

.todo {
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px #007bff;
  display: flex;
  font-size: 20px;
  margin-bottom: 6px;
  padding: 3px 10px;
}
.todoTitleItem {
  border-radius: 5px;
  font-size: 30px;
}
.todoDescriptionItem {
  border-radius: 5px;
  font-size: 20px;
  color: gray;
}
.textLink {
  text-align: center;
  display: inline;
  text-decoration: inherit;
}

/*  Container for the todo details */
.todoDetailsContainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* style Todo title details  */
.todoTitleDetails {
  font-size: 24px;
  margin-bottom: 10px;
}

/* style Todo description details */
.todoDescriptionDetails {
  font-size: 16px;
  line-height: 1.5;
}

/* style Back button  */
.backButton {
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline;
  text-decoration: inherit;
}

/*effet hover Back button  */
.backButton:hover {
  background-color: #0056b3;
}
.gridTitleTodoList {
  grid-template-columns: auto auto auto;
  display: grid;
}
.gridItemTodoList {
  text-align: center;
}
